<div class="mb-3">
    <label for="Name" class="form-label">Name</label>
    <input type="text" class="form-control" name="name"  value={{this.Name}}>
</div>
<div class="col-6">
    <label for="role" class="form-label">role</label>
    <input type="number" class="form-control" name="role"  value={{this.role}} >
</div>

<div class="col-6">
    <label for="bonus" class="form-label">bonus</label>
    <input type="number" class="form-control" name="bonus"  value={{this.bonus}} >
</div>

<div class="mb-4">
    <label for="deptId" class="form-label">dept_id</label>
    <input type="number" class="form-control" name="deptId" value={{this.dept_id}}>
</div>




<button type="submit" class="btn btn-success">Submit</button>