<div class="about-section">
  <h1>Code is like humor. When you *have* to explain it, it’s bad.</h1>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row1">
  <div class="column" style = "color: black;">
    <div class="card">
    
      <div class="container">
        <h2>Mukesh Kumar</h2>
        <p class="title">1CR19CS099</p>
     
        <p>muku19cs@cmrit.in</p>
 
      </div>
    </div>
  </div>

  <div class="column" style = "color: black;">
    <div class="card">
     
      <div class="container">
        <h2>Luqmann</h2>
        <p class="title">1CR19CS094</p>
        
        <p >molu19cs@cmrit.ac.in</p>

      </div>
    </div>
  </div>
</div>